<a href="https://colab.research.google.com/github/armandossrecife/lp20231/blob/main/datas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Datas em Python

https://docs.python.org/3/library/datetime.html

## Apresentação da biblioteca datetime

O módulo datetime fornece classes para manipulação de datas e horas.

In [ ]:
# The datetime module supplies classes for manipulating dates and times.
import datetime

## Representação de data e hora

- Componentes de data: ano, mês, dia
- Componentes de hora: hora, minuto, segundo, microssegundo

In [ ]:
hoje = datetime.datetime.now()
print(hoje)

2023-05-30 14:21:05.074577

In [ ]:
data_hoje = datetime.datetime.now()

Formatar uma data
https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior

In [ ]:
# formatando a data (via strftime(..))
data_hoje_formatada = data_hoje.strftime("%d/%m/%y")
print(data_hoje_formatada)

30/05/23

In [ ]:
# formatando a data (via strftime(..))
data_hoje_formatada = data_hoje.strftime("%d/%m/%Y")
print(data_hoje_formatada)

30/05/2023

In [ ]:
# formatando a data (via strftime(..))
data_hoje_formatada = data_hoje.strftime("%d/%m/%Y %H:%M:%S")
print(data_hoje_formatada)

30/05/2023 14:21:05

In [ ]:
# Obter apenas a data atual (operação mais comum)
data_atual = datetime.date.today()
print("Data atual:", data_atual)

Data atual: 2023-05-30

In [ ]:
data_atual_formatada = data_atual.strftime("%d/%m/%Y")
print(data_atual_formatada)

30/05/2023

In [ ]:
# Obter apenas o horário atual
horario_atual = datetime.datetime.now().time()
print("Horário atual:", horario_atual)

Horário atual: 14:21:05.156034

In [ ]:
horario_atual_formatado = horario_atual.strftime("%H:%M:%S")
print(horario_atual_formatado)

14:21:05

## Criando objetos datetime

Construtores para criar objetos datetime:

Exemplo: datetime(year, month, day, hour, minute, second, microsecond)

In [ ]:
# Criar uma data específica
data_exemplo = datetime.date(2023, 5, 1)
print("Exemplo de data:", data_exemplo)

Exemplo de data: 2023-05-01

In [ ]:
# Criar um horário específico
horario_exemplo = datetime.time(12, 30, 45)
print("Exemplo de horário:", horario_exemplo)

Exemplo de horário: 12:30:45

### Acesso aos componentes de data e hora

**Atributos** para acessar os componentes de data e hora:
Exemplo: .year, .month, .day, .hour, .minute, .second

In [ ]:
data_exemplo.year

2023

### Adicionando ou removendo dias em um objeto datetime

In [ ]:
# Adicionar dias a uma data
data_futura = data_atual + datetime.timedelta(days=7)
print(f"Data atual: {data_atual}")
print("Data daqui a uma semana:", data_futura)

Data atual: 2023-05-29
Data daqui a uma semana: 2023-06-05

In [ ]:
# Adicionar dias a uma data
data_passada = data_atual + datetime.timedelta(days=-8)
print(f"Data atual: {data_atual}")
print("Data 8 dias no passado:", data_passada)

Data atual: 2023-05-29
Data 8 dias no passado: 2023-05-21

In [ ]:
# data de nascimento
data_nascimento = datetime.date(1979, 2, 19)
print(data_nascimento.strftime("%A"))

Monday

In [ ]:
# Calcular a diferença entre duas datas
diferenca = data_atual - data_nascimento
print("Diferença entre as datas:", diferenca)

Diferença entre as datas: 16170 days, 0:00:00

In [ ]:
# Calcular a idade
idade = int(diferenca.days / 365.25)
# 365.25 devido aos anos bissextos
print("Idade:", idade)

Idade: 44

### Outros tipos de manipulação de data com o timedelta

In [ ]:
# Subtrair um intervalo de tempo de uma data

from datetime import datetime, timedelta

data = datetime(2023, 5, 8)
intervalo = timedelta(hours=3, minutes=30)  # Subtrai 3 horas e 30 minutos

nova_data = data - intervalo
print(data)

print(nova_data)  # Output: 2023-05-07 20:30:00

2023-05-08 00:00:00
2023-05-07 20:30:00

In [ ]:
# Calcular a diferença entre duas datas

from datetime import datetime, timedelta

data1 = datetime(2023, 5, 8, 10, 0)
data2 = datetime(2023, 5, 7, 15, 30)

print(f'Data1: {data1}')
print(f'Data2: {data2}')
diferenca = data1 - data2
print(diferenca)  # Output: 0:18:30 (duração de 18 horas e 30 minutos)
print(diferenca.days)  # Output: 0 (diferença em dias)
print(diferenca.seconds)  # Output: 66600 (diferença em segundos)

Data1: 2023-05-08 10:00:00
Data2: 2023-05-07 15:30:00
18:30:00
0
66600

In [ ]:
# Criação de um temporizador

from datetime import datetime, timedelta
import time

tempo_inicial = datetime.now()

# Executa alguma tarefa
time.sleep(2)

tempo_final = datetime.now()
tempo_total = tempo_final - tempo_inicial

print("Tempo total:", tempo_total)  # Output: Tempo total: 0:00:02.xxx segundo

Tempo total: 0:00:02.003130

## Datas e Fuso horários

### Obter a data e hora atual com um fuso horário específico

In [1]:
from datetime import datetime
from pytz import timezone

fuso_horario = timezone('America/Sao_Paulo')  # Definindo o fuso horário desejado
data_hora_atual = datetime.now(fuso_horario)

print(data_hora_atual)  # Output: 2023-05-08 15:30:00.123456-03:00

2023-05-30 11:37:39.561361-03:00

### Listar todos os fusos horários disponíveis

In [ ]:
#Você pode listar todos os fusos horários disponíveis com all_timezones
import pytz
pytz.all_timezones

In [6]:
conjunto_tz = set(pytz.all_timezones_set) 
lista_tz = list(conjunto_tz)
print(lista_tz)

['Africa/Casablanca', 'Pacific/Kiritimati', 'Antarctica/Palmer', 'America/Paramaribo', 'America/Catamarca', 'Africa/Blantyre', 'US/Aleutian', 'America/Kentucky/Louisville', 'Asia/Famagusta', 'Pacific/Tongatapu', 'Pacific/Enderbury', 'Indian/Reunion', 'Asia/Ulaanbaatar', 'America/Jamaica', 'GMT0', 'America/Godthab', 'Asia/Kuching', 'Africa/Niamey', 'MET', 'Africa/Bujumbura', 'America/Port_of_Spain', 'Pacific/Pago_Pago', 'America/Maceio', 'Asia/Yangon', 'Australia/LHI', 'Africa/Porto-Novo', 'Africa/Lagos', 'Atlantic/St_Helena', 'CST6CDT', 'America/Argentina/Catamarca', 'America/Boise', 'Asia/Yerevan', 'America/Noronha', 'America/Dawson_Creek', 'America/Knox_IN', 'US/Eastern', 'America/Guayaquil', 'Asia/Chita', 'Europe/Paris', 'Africa/Malabo', 'America/New_York', 'America/Porto_Velho', 'Asia/Thimphu', 'Europe/Madrid', 'Africa/Lome', 'America/Antigua', 'America/Argentina/Cordoba', 'Africa/Johannesburg', 'Antarctica/Troll', 'Atlantic/Azores', 'Europe/Samara', 'Asia/Shanghai', 'Europe/Minsk', 'Europe/Saratov', 'Asia/Ulan_Bator', 'Africa/Accra', 'Europe/Istanbul', 'America/Denver', 'Etc/GMT-11', 'Pacific/Galapagos', 'Atlantic/Canary', 'Africa/Juba', 'Etc/GMT+1', 'Europe/Guernsey', 'Africa/Bamako', 'America/Merida', 'Asia/Choibalsan', 'Europe/Astrakhan', 'Australia/South', 'Europe/Tiraspol', 'Asia/Phnom_Penh', 'Asia/Macao', 'ROC', 'GB', 'America/Belem', 'America/Cayman', 'Asia/Manila', 'Pacific/Ponape', 'Canada/Central', 'Asia/Makassar', 'UCT', 'Pacific/Fiji', 'America/Argentina/San_Luis', 'Chile/Continental', 'Egypt', 'America/Louisville', 'Brazil/East', 'America/Bogota', 'Pacific/Yap', 'America/Eirunepe', 'Europe/Podgorica', 'Asia/Damascus', 'Africa/Nouakchott', 'Asia/Katmandu', 'Brazil/West', 'Europe/Isle_of_Man', 'Asia/Chungking', 'Africa/Dar_es_Salaam', 'America/Montserrat', 'Israel', 'Etc/GMT+9', 'America/Rankin_Inlet', 'Asia/Tokyo', 'Etc/Greenwich', 'America/Asuncion', 'America/Port-au-Prince', 'GB-Eire', 'Antarctica/Davis', 'Africa/Asmera', 'Atlantic/Reykjavik', 'America/Santo_Domingo', 'Antarctica/Macquarie', 'Europe/Berlin', 'Etc/GMT-2', 'Pacific/Honolulu', 'Canada/Newfoundland', 'Europe/Malta', 'WET', 'America/Matamoros', 'Asia/Ashgabat', 'Africa/Douala', 'America/Argentina/Rio_Gallegos', 'Asia/Tbilisi', 'Europe/Kyiv', 'Antarctica/South_Pole', 'Europe/Busingen', 'Etc/GMT', 'PST8PDT', 'Asia/Rangoon', 'Etc/GMT+4', 'America/Caracas', 'Pacific/Efate', 'Asia/Hebron', 'America/Regina', 'America/Resolute', 'Africa/Addis_Ababa', 'Indian/Mayotte', 'America/Goose_Bay', 'Asia/Jakarta', 'Asia/Brunei', 'Pacific/Easter', 'America/Tegucigalpa', 'America/Whitehorse', 'Africa/Gaborone', 'Europe/Vatican', 'America/Scoresbysund', 'America/Glace_Bay', 'Pacific/Kwajalein', 'Asia/Chongqing', 'America/Marigot', 'Asia/Qostanay', 'America/Punta_Arenas', 'Asia/Kamchatka', 'Atlantic/Jan_Mayen', 'Atlantic/South_Georgia', 'America/Argentina/Buenos_Aires', 'America/Martinique', 'Asia/Amman', 'Asia/Karachi', 'Europe/Nicosia', 'Pacific/Gambier', 'Etc/GMT-8', 'Europe/Moscow', 'US/Arizona', 'America/Boa_Vista', 'Etc/GMT-12', 'Etc/Zulu', 'Asia/Srednekolymsk', 'PRC', 'America/Danmarkshavn', 'America/St_Johns', 'Etc/GMT+5', 'EET', 'America/Moncton', 'Etc/GMT-4', 'Africa/Conakry', 'Asia/Pyongyang', 'Turkey', 'Australia/Lindeman', 'Antarctica/Mawson', 'Africa/Khartoum', 'Asia/Riyadh', 'US/Indiana-Starke', 'America/North_Dakota/Center', 'Africa/Kigali', 'Asia/Muscat', 'Africa/Nairobi', 'MST7MDT', 'America/Ciudad_Juarez', 'Asia/Sakhalin', 'Australia/West', 'Etc/GMT+3', 'Europe/Andorra', 'America/Argentina/Jujuy', 'Asia/Calcutta', 'America/Cordoba', 'Pacific/Samoa', 'Pacific/Noumea', 'US/Hawaii', 'Asia/Kuwait', 'Asia/Seoul', 'Etc/GMT-13', 'America/Los_Angeles', 'Africa/Algiers', 'Chile/EasterIsland', 'America/Virgin', 'Asia/Beirut', 'Asia/Barnaul', 'America/Manaus', 'America/Barbados', 'America/Indiana/Petersburg', 'Pacific/Nauru', 'America/Jujuy', 'Asia/Dushanbe', 'Canada/Atlantic', 'Etc/GMT+0', 'Antarctica/Rothera', 'Europe/Belfast', 'America/Cambridge_Bay', 'Iceland', 'Africa/Maseru', 'Atlantic/Faroe', 'GMT', 'Asia/Novosibirsk', 'America/El_Salvador', 'Asia/Novokuznetsk', 'America/Hermosillo', 'America/St_Vincent', 'Pacific/Port_Moresby', 'Asia/Jayapura', 'America/Mendoza', 'Africa/Mogadishu', 'Asia/Dubai', 'Asia/Samarkand', 'Europe/Copenhagen', 'America/Araguaina', 'America/Campo_Grande', 'Asia/Ujung_Pandang', 'Etc/GMT0', 'GMT+0', 'Australia/Tasmania', 'America/Argentina/Mendoza', 'Cuba', 'Pacific/Kanton', 'Asia/Tel_Aviv', 'Asia/Ust-Nera', 'Africa/Dakar', 'Asia/Saigon', 'Pacific/Pohnpei', 'America/Atka', 'America/Costa_Rica', 'America/Dominica', 'Australia/Eucla', 'Etc/UCT', 'Europe/Tallinn', 'MST', 'Africa/Libreville', 'America/Metlakatla', 'EST5EDT', 'Asia/Kathmandu', 'Africa/Windhoek', 'Asia/Macau', 'Antarctica/Vostok', 'Pacific/Pitcairn', 'America/Cuiaba', 'America/Miquelon', 'Asia/Qyzylorda', 'Europe/Kiev', 'Etc/GMT-9', 'America/Monterrey', 'Mexico/BajaNorte', 'Asia/Omsk', 'America/Cancun', 'Pacific/Wake', 'Asia/Kuala_Lumpur', 'Australia/Darwin', 'Australia/Lord_Howe', 'Singapore', 'America/Santa_Isabel', 'Asia/Tomsk', 'Asia/Baku', 'America/Iqaluit', 'Asia/Dili', 'America/Lower_Princes', 'America/Havana', 'Europe/Kaliningrad', 'Europe/Vilnius', 'Hongkong', 'America/Nipigon', 'Asia/Vladivostok', 'Australia/Perth', 'Europe/Zaporozhye', 'America/Vancouver', 'UTC', 'America/Ojinaga', 'Asia/Vientiane', 'Europe/Riga', 'Europe/Lisbon', 'Asia/Dacca', 'America/Thule', 'GMT-0', 'America/Rosario', 'Etc/GMT-1', 'Europe/Budapest', 'Asia/Ho_Chi_Minh', 'Europe/Prague', 'Europe/Uzhgorod', 'America/Indiana/Vevay', 'Asia/Baghdad', 'Europe/Simferopol', 'America/Argentina/Tucuman', 'America/Atikokan', 'Europe/Zurich', 'America/Chihuahua', 'America/Detroit', 'US/Samoa', 'Mexico/General', 'Brazil/DeNoronha', 'US/Pacific', 'Africa/El_Aaiun', 'Canada/Yukon', 'Indian/Maldives', 'Pacific/Funafuti', 'Atlantic/Madeira', 'America/Grand_Turk', 'Asia/Irkutsk', 'Europe/San_Marino', 'Indian/Christmas', 'Europe/Ljubljana', 'W-SU', 'Pacific/Guadalcanal', 'America/Curacao', 'Asia/Tehran', 'America/Indiana/Marengo', 'Etc/GMT-0', 'Etc/GMT+12', 'Africa/Freetown', 'Asia/Colombo', 'America/Tijuana', 'Pacific/Johnston', 'Asia/Bahrain', 'America/La_Paz', 'Etc/GMT+8', 'Etc/GMT-7', 'Asia/Tashkent', 'Etc/GMT+2', 'America/Chicago', 'Brazil/Acre', 'Pacific/Fakaofo', 'Asia/Harbin', 'America/Fort_Wayne', 'America/Montevideo', 'Antarctica/McMurdo', 'Australia/Currie', 'America/Fort_Nelson', 'Asia/Gaza', 'America/Yakutat', 'America/North_Dakota/Beulah', 'America/Belize', 'Kwajalein', 'America/Phoenix', 'Zulu', 'Asia/Kabul', 'Europe/Brussels', 'NZ', 'Canada/Pacific', 'Europe/Dublin', 'America/Sitka', 'Pacific/Guam', 'Europe/Volgograd', 'Pacific/Chuuk', 'America/Pangnirtung', 'Etc/UTC', 'America/Indianapolis', 'Europe/London', 'Pacific/Chatham', 'Etc/GMT+10', 'Africa/Maputo', 'Pacific/Tahiti', 'Europe/Warsaw', 'America/Creston', 'Africa/Timbuktu', 'Pacific/Niue', 'America/Indiana/Indianapolis', 'Antarctica/Casey', 'Asia/Krasnoyarsk', 'Canada/Mountain', 'Etc/GMT-3', 'Africa/Kampala', 'America/Adak', 'Asia/Hong_Kong', 'Navajo', 'Australia/Yancowinna', 'America/Dawson', 'Europe/Vaduz', 'America/Toronto', 'America/Kralendijk', 'Pacific/Bougainville', 'HST', 'NZ-CHAT', 'America/Rainy_River', 'Europe/Sofia', 'Africa/Asmara', 'America/Nome', 'Pacific/Kosrae', 'Asia/Magadan', 'Etc/GMT+11', 'America/Sao_Paulo', 'Australia/Canberra', 'Asia/Bishkek', 'Portugal', 'Asia/Yekaterinburg', 'America/Anguilla', 'Asia/Pontianak', 'Australia/Victoria', 'Europe/Mariehamn', 'America/Coral_Harbour', 'Asia/Dhaka', 'Europe/Belgrade', 'Asia/Bangkok', 'America/Grenada', 'America/Fortaleza', 'Universal', 'Asia/Oral', 'Eire', 'Etc/GMT-5', 'US/Mountain', 'Asia/Istanbul', 'Europe/Gibraltar', 'Asia/Thimbu', 'Asia/Ashkhabad', 'Pacific/Majuro', 'America/Panama', 'America/Aruba', 'Pacific/Tarawa', 'America/Argentina/La_Rioja', 'Etc/GMT-10', 'Greenwich', 'America/Recife', 'Asia/Aden', 'Africa/Ceuta', 'America/Yellowknife', 'Pacific/Wallis', 'America/Thunder_Bay', 'Europe/Athens', 'Europe/Kirov', 'Europe/Zagreb', 'Australia/Broken_Hill', 'Europe/Rome', 'Africa/Bangui', 'Pacific/Auckland', 'America/North_Dakota/New_Salem', 'America/Santarem', 'Australia/North', 'America/Cayenne', 'ROK', 'America/Argentina/San_Juan', 'Libya', 'Australia/Sydney', 'Pacific/Midway', 'Africa/Ndjamena', 'Indian/Mauritius', 'Australia/Hobart', 'Europe/Monaco', 'Australia/NSW', 'Africa/Cairo', 'Asia/Hovd', 'Asia/Khandyga', 'Asia/Almaty', 'Asia/Singapore', 'Asia/Yakutsk', 'America/Inuvik', 'Africa/Banjul', 'EST', 'Indian/Antananarivo', 'America/Rio_Branco', 'Asia/Jerusalem', 'Australia/ACT', 'US/Alaska', 'America/Managua', 'Mexico/BajaSur', 'Africa/Kinshasa', 'America/Indiana/Vincennes', 'Europe/Stockholm', 'Africa/Mbabane', 'America/Buenos_Aires', 'America/Guyana', 'America/Nassau', 'Africa/Tripoli', 'America/Argentina/Salta', 'Indian/Cocos', 'America/Bahia_Banderas', 'America/Indiana/Knox', 'America/Tortola', 'Africa/Lusaka', 'Africa/Abidjan', 'Europe/Ulyanovsk', 'Asia/Anadyr', 'Pacific/Palau', 'Asia/Qatar', 'America/Nuuk', 'Indian/Chagos', 'America/Guadeloupe', 'Asia/Aqtau', 'Europe/Bratislava', 'CET', 'Africa/Brazzaville', 'Australia/Adelaide', 'Europe/Skopje', 'America/Lima', 'Africa/Sao_Tome', 'America/Indiana/Winamac', 'Etc/GMT-14', 'Africa/Tunis', 'Canada/Saskatchewan', 'Atlantic/Stanley', 'Antarctica/Syowa', 'Pacific/Truk', 'America/Porto_Acre', 'Europe/Bucharest', 'Canada/Eastern', 'Pacific/Norfolk', 'Etc/Universal', 'Iran', 'Europe/Amsterdam', 'America/Kentucky/Monticello', 'Poland', 'America/Swift_Current', 'America/Blanc-Sablon', 'America/St_Barthelemy', 'America/St_Lucia', 'Europe/Sarajevo', 'Africa/Ouagadougou', 'Europe/Jersey', 'Jamaica', 'America/Halifax', 'Australia/Queensland', 'America/Mazatlan', 'Asia/Nicosia', 'Africa/Monrovia', 'Europe/Oslo', 'America/Santiago', 'Atlantic/Bermuda', 'Europe/Vienna', 'America/Ensenada', 'Asia/Kashgar', 'Europe/Chisinau', 'Asia/Taipei', 'Africa/Luanda', 'Africa/Lubumbashi', 'Pacific/Saipan', 'Africa/Harare', 'Pacific/Rarotonga', 'Indian/Kerguelen', 'Etc/GMT-6', 'Antarctica/DumontDUrville', 'Indian/Mahe', 'America/Winnipeg', 'America/Guatemala', 'America/Edmonton', 'Indian/Comoro', 'Asia/Urumqi', 'America/Argentina/ComodRivadavia', 'America/St_Thomas', 'Atlantic/Cape_Verde', 'Etc/GMT+7', 'Europe/Tirane', 'US/East-Indiana', 'America/Mexico_City', 'Atlantic/Faeroe', 'America/Shiprock', 'America/Argentina/Ushuaia', 'Asia/Aqtobe', 'Etc/GMT+6', 'America/Anchorage', 'Japan', 'Asia/Atyrau', 'Europe/Helsinki', 'Africa/Bissau', 'Africa/Djibouti', 'Australia/Brisbane', 'America/Bahia', 'Australia/Melbourne', 'Pacific/Marquesas', 'America/St_Kitts', 'America/Indiana/Tell_City', 'America/Juneau', 'Arctic/Longyearbyen', 'America/Menominee', 'America/Puerto_Rico', 'US/Michigan', 'US/Central', 'Asia/Kolkata', 'America/Montreal', 'Pacific/Apia', 'Europe/Luxembourg']

In [14]:
# procura pelos time zones do Brasil
for each in lista_tz:
  if each.find('Brazil/') == -1:
    continue
  else:
    print(each)

Brazil/East
Brazil/West
Brazil/DeNoronha
Brazil/Acre

In [ ]:
for each in lista_tz:
  if each.find('America/') == -1:
    continue
  else:
    print(each)

###  Converter uma data e hora de um fuso horário para outro

In [5]:
from datetime import datetime
from pytz import timezone

fuso_origem = timezone('America/New_York')  # Fuso horário de Nova York
fuso_destino = timezone('Europe/London')  # Fuso horário de Londres

data_hora_origem = datetime(2023, 5, 8, 10, 0, 0, tzinfo=fuso_origem)
data_hora_destino = data_hora_origem.astimezone(fuso_destino)

print(data_hora_destino)  # Output: 2023-05-08 15:00:00+01:00

2023-05-08 15:56:00+01:00

In [20]:
import datetime
time_zone = pytz.timezone('Brazil/East')
ct = datetime.datetime.now(tz=time_zone)
print(type(ct))
print(ct.isoformat())

<class 'datetime.datetime'>
2023-05-30T11:53:56.263631-03:00